ul
{
    list-style-type: none;
}

div {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
 
h1 {
  font: 800 65px/2 Arial, bold sans-serif;
  margin: 0;
  padding: 0;
  color: #378de5;
  text-align: center;
	text-shadow:0px 1px 0px #000000;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #84bbf3;

}
 
li {
  font: 200 32px/1.22 Arial;
  border-bottom: 1px solid #bbdaf7;
  padding-top: 4px;
  text-align: left;
  clear: both;
}
 
li #delete, li #add {
	display: block;
	float: right;
	padding: 5px 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}	

li:last-child {
  border: none;
}

#list {
	text-align: center;
} 

#left_list {	
	float: left;
}

#right_list {
	float: right;
}
/*
#left_list,#right_list,#add_new_item,#remove_all_items,#new_item,#remove_item,#delete,#add {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #DFEFF0), color-stop(1, #BDD8DA) );
	background:-moz-linear-gradient( center top, #DFEFF0 5%, #BDD8DA 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#DFEFF0;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

#left_list:hover,#right_list:hover,#add_new_item:hover,#remove_all_items:hover, #new_item:hover, #delete:hover,#add:active {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #DFEFF0), color-stop(1, #BDD8DA) );
	background:-moz-linear-gradient( center top, #DFEFF0 5%, #BDD8DA 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

#left_list:active,#right_list:active,#new_item:active,#remove_all_items:active,#delete:active,#add:active {
	position:relative;
	top:1px;
}
*/
/* http://www.cssbuttongenerator.com/ */



#new_item, #delete, .button_class {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:3px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 0px 0px #528ecc;
}#delete:hover,.button_class:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}#delete:active,.button_class:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */


